.root {
  @apply inline-flex cursor-pointer items-center justify-center
  border border-transparent py-5 text-center
  text-sm font-semibold leading-6
  tracking-wide shadow-sm transition duration-300
  ease-linear;
  max-height: 64px;
}

.root:hover {
  @apply scale-105;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.root[data-active] {
  @apply bg-accent-6;
}

.loading {
  @apply cursor-not-allowed border-accent-2 bg-accent-1 text-accent-3;
}

.primary {
  @apply transform-none py-2 normal-case bg-amber-500;
}
.secondary {
  @apply transform-none py-2 normal-case bg-primary;
}

.naked {
  @apply border-none bg-transparent py-0 px-0 font-semibold shadow-none outline-none;
}

.naked:hover,
.naked:focus {
  @apply border-none bg-transparent;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed border-accent-2 bg-accent-1 text-accent-4;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
