.card {
    @apply flex items-center gap-3 rounded-lg p-4 shadow shadow-gray-400;
  }
  .card:hover {
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
  }
.card2 {
    @apply flex items-center gap-3 rounded-lg p-4 shadow shadow-gray-400;
  }
  .card2:hover {
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
  }