
.card {
  @apply flex flex-col gap-3 rounded-lg p-5 shadow shadow-gray-400 ;
}
.card:hover {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}