:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);
  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;
  --yellow: #ff9800;
  --pink: #ff0080;
  --pink-light: #ff379c;
  --magenta: #eb367f;
  --violet: #7928ca;
  --violet-dark: #4c2889;
  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999999;
  --accent-4: #888888;
  --accent-5: #666666;
  --accent-6: #444444;
  --accent-7: #333333;
  --accent-8: #111111;
  --accent-9: #000;
  --font-sans: -apple-system, system-ui, ClashDisplay, 'Helvetica Neue',
    'Helvetica', sans-serif;
}

/* [data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);
  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  transition: all 5s
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  img[loading="lazy"] {
    clip-path: inset(0.5px);
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 10px !important;
  height: 10px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  color: #CAAD88 !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin :0;
    margin-right: 20px !important;
}
.swiper-pagination-bullet {
    width: 56px !important;
    height: 5px !important;
    border-radius: 10px !important;
    margin-right: 20px !important;
}
.swiper-pagination-bullet-active {
    background-color: #CAAD88 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -1px) !important;
}


#scroll {
    position: fixed;
    right: 12px;
    bottom: 12px;
    cursor: pointer;
    background-color: #424242;
    display: none;
    padding: 9px 12px;
    border-radius: 6px;
    z-index: 9999;
    transition: all 0.3s linear 0s;
}
#scroll .back-top {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}