.root {
@apply fixed inset-0 bg-primary backdrop-blur-lg z-[1] h-screen lg:hidden transition-all duration-300 ease-linear;
}
.header {
@apply flex justify-between items-center p-2;
}
.body {
@apply flex gap-10 flex-col justify-start items-start w-full h-full  mt-10;
}