.root {
  background-image: url(/countrys-job-bg.png);
  background-repeat: repeat-x;
  position: relative;
  overflow-x: hidden;
}

.countrys_job {
  background-color: rgba(0, 150, 136, 0.9);
  padding: 60px 0px;
}
.vacancy {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px;
    border-radius: 8px 8px 0px 0px;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    background-size: contain;
}
.vacancy:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px 8px 0px 0px;
}
.number {
    color: #00796B;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}
.text {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}
.country_wrap {
    text-align: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #212121;
    margin-bottom: 0px;
    padding: 8px 20px;
    border-radius: 0px 0px 8px 8px;
}